<div class="intro">

  <h1>
    Hello<br>
    I'm Deorren<br>
    Full Stack Web Developer
  </h1>
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="button">View Projects</button>
  </div>
</div>

<script src="/js/projects.js"></script>