body {
  background:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  flex-wrap: wrap;
  height:100vh;
}
.container {
  display: flex;
 
}

.navbar a {
  color:white;
}
.navbar-brand {
  font-size: 150%;
}
.bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 95vh;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.navbar {
  font-size: 150%;
  border-bottom-left-radius: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  /* border: 3px solid red; */

}


.project-card {
  /* border: 3px solid blue; */
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2%;
}


.project-image {
  width: 40%;
}
.project-description {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.profile-image {
  background-image: url("/images/developer.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60%;
  width: 60%;
 
}
.profile {
  display:flex;
  height:100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts a {
  text-decoration: none;
  color:black;
}
.contacts a:hover {
  color:gray;
}
.contacts {
  display:flex;
  flex-direction: column;
  font-size: 200%;

}
.contact-links {
  display:flex;
  flex-direction: column;
  align-items: center;
}