body {
  background-color: #121111;
  font-family: "Audiowide", sans-serif;
  display: flex;
  flex-direction: column;
}
.full-name {
    color: white;
    font-size: 150%;
    padding: 1%;
    box-shadow: -10px 0px 10px 1px green;
}

nav {
  display: flex;
  
  width: 60%;
  margin: auto;
  justify-content: space-between;
  background-color: #1C1B1B;
  padding: 2%;
  box-shadow: -10px 0px 10px 1px green;
  
}
nav a {
  text-decoration: none;
  color: white;
}
.links {
  display: flex;
}
.links a {
  padding: 10px;
}
main {
    /* display: flex;
    justify-content: center;
    align-item: center;
    position: relative;
    z-index: -1;
  bottom: 20px;
    height: 50vh; */
    position: relative; 
    bottom: 20px;
    z-index: -1;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
   
}
main::before {
   
    /* content: "";
    background-color: white;
    background-image: url("./image/webpic23.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6; */
    content: "";
      background-image: url('./image/webpic23.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.9;
   
}


.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-item: center;
    width: auto;
    height: 100%;
    color: white;
}
.main-text h1 {
    position: relative;
   
  
    font-size: 300%;
    color: #fff;
}


.skills {
    display: flex;
    margin: auto;
    width: 60%;
    justify-content: space-evenly;
    position: relative;
    bottom: 60px;
}

.skill-cards {
    text-align: center;
    background-color: orange;
    margin: 1%;
    padding: 1%;

}
.skill-cards i {
    font-size: 200%;
    margin: 10%;
}
.skills-title {
    margin: 3%;
    font-weight: 700;
    font-size: 120%;
}
